<h2><i class="fi-music"></i> Music folder</h2>
<section>
    {{#each dir in model.dirs}}
        <div class="row">
            <div class="small-1 columns">
                <i class="fi-folder"></i>
            </div>
            <div class="small-11 columns">
                {{#link-to 'track' dir.id}}{{dir.name}}{{/link-to}}
            </div>
            <hr>
        </div>
    {{/each}}

</section>
<section>
    {{#each file in model.files}}
        <div class="row">
            <div class="small-1 columns">
                <a {{action "add" file}}><i class="fi-plus"></i></a>
            </div>
            <div class="small-11 columns">
                {{file.name}}
            </div>
            <hr>
        </div>
    {{/each}}

</section>
{{outlet}}
